<!-- BEGIN CERTIFICATE DETAIL MODAL -->
<div class="modal modal-blur fade" id="certificate-detail-modal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <!-- BEGIN MODAL HEADER -->
      <div class="modal-header">
        <h5 class="modal-title font-monospace" data-field="cn"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- END MODAL HEADER -->
      <!-- BEGIN MODAL BODY -->
      <div class="modal-body">
        <div class="datagrid">
          <div class="datagrid-item">
            <div class="datagrid-title">Status</div>
            <div class="datagrid-content" data-field="status"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Provider</div>
            <div class="datagrid-content" data-field="provider"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Valid from</div>
            <div class="datagrid-content" data-field="not-before"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Valid until</div>
            <div class="datagrid-content" data-field="expiry"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Days remaining</div>
            <div class="datagrid-content" data-field="days-remaining"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Key</div>
            <div class="datagrid-content" data-field="key-info"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Serial number</div>
            <div class="datagrid-content font-monospace text-break" data-field="serial"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">SHA-256 fingerprint</div>
            <div class="datagrid-content font-monospace text-break" data-field="fingerprint"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Subject</div>
            <div class="datagrid-content font-monospace text-break" data-field="subject"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Issuer</div>
            <div class="datagrid-content font-monospace text-break" data-field="issuer"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Additional names (SAN)</div>
            <div class="datagrid-content font-monospace text-break" data-field="sans"></div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">File path</div>
            <div class="datagrid-content font-monospace text-break" data-field="path"></div>
          </div>
        </div>
      </div>
      <!-- END MODAL BODY -->
      <!-- BEGIN MODAL FOOTER -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn">Download</button>
      </div> -->
      <!-- END MODAL FOOTER -->
    </div>
  </div>
</div>
<!-- END CERTIFICATE DETAIL MODAL -->
