<!-- BEGIN NEW BLOCK TYPE MODAL -->
<div class="modal modal-blur fade" id="modal-blocks" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered p-3">
    <div class="modal-content">
      <!-- BEGIN MODAL HEADER -->
      <div class="modal-header">
        <h5 class="modal-title">New Site Block</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- END MODAL HEADER -->
      <!-- BEGIN MODAL BODY -->
      <div class="modal-body">
        <div class="row row-cards justify-content-center">
          <!-- BEGIN REVERSE PROXY CARD -->
          <div class="col">
            <a href="{{ url_for('new_block', block_type='reverse_proxy') }}" class="card card-link rounded-top-0 h-100 text-decoration-none">
              <div class="card-status-top bg-primary"></div>
              <div class="card-body text-center py-4">
                <span class="avatar avatar-xl bg-primary-lt mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 14l-4 -4l4 -4" />
                    <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
                  </svg>
                </span>
                <div class="h4 mb-1">Reverse Proxy</div>
                <div class="text-secondary">Forward requests to a single backend service</div>
              </div>
            </a>
          </div>
          <!-- END REVERSE PROXY CARD -->
          <!-- BEGIN REDIRECT CARD -->
          <div class="col-12 col-sm-4">
            <a href="{{ url_for('new_block', block_type='redirect') }}" class="card card-link rounded-top-0 h-100 text-decoration-none">
              <div class="card-status-top bg-purple"></div>
              <div class="card-body text-center py-4">
                <span class="avatar avatar-xl bg-purple-lt mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 18v-6a3 3 0 0 1 3 -3h10l-4 -4m0 8l4 -4" />
                  </svg>
                </span>
                <div class="h4 mb-1">Redirect</div>
                <div class="text-secondary">Send visitors from one URL to another</div>
              </div>
            </a>
          </div>
          <!-- END REDIRECT CARD -->
          <!-- BEGIN LOAD BALANCER CARD -->
          <div class="col-12 col-sm-4">
            <a href="{{ url_for('new_block', block_type='load_balancer') }}" class="card card-link rounded-top-0 h-100 text-decoration-none">
              <div class="card-status-top bg-pink"></div>
              <div class="card-body text-center py-4">
                <span class="avatar avatar-xl bg-pink-lt mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 3v18" />
                    <path d="M16 7l-4 -4l-4 4" />
                    <path d="M16 11h5v5" />
                    <path d="M8 11h-5v5" />
                    <path d="M3 11l8.293 8.293c.453 .453 .707 1.067 .707 1.707" />
                    <path d="M21 11l-8.293 8.293a2.4 2.4 0 0 0 -.707 1.707" />
                  </svg>
                </span>
                <div class="h4 mb-1">Load Balancer</div>
                <div class="text-secondary">Distribute traffic across multiple upstream hosts</div>
              </div>
            </a>
          </div>
          <!-- END LOAD BALANCER CARD -->
          <!-- BEGIN STATIC SITE CARD -->
          <div class="col-12 col-sm-4">
            <a href="{{ url_for('new_block', block_type='load_balancer') }}" class="card card-link rounded-top-0 h-100 text-decoration-none">
              <div class="card-status-top bg-lime"></div>
              <div class="card-body text-center py-4">
                <span class="avatar avatar-xl bg-lime-lt mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 3v18" />
                    <path d="M16 7l-4 -4l-4 4" />
                    <path d="M16 11h5v5" />
                    <path d="M8 11h-5v5" />
                    <path d="M3 11l8.293 8.293c.453 .453 .707 1.067 .707 1.707" />
                    <path d="M21 11l-8.293 8.293a2.4 2.4 0 0 0 -.707 1.707" />
                  </svg>
                </span>
                <div class="h4 mb-1">Static Site</div>
                <div class="text-secondary">Distribute traffic across multiple upstream hosts</div>
              </div>
            </a>
          </div>
          <!-- END STATIC SITE CARD --> 
          <!-- BEGIN CUSTOM BLOCK CARD -->
          <div class="col-12 col-sm-4">
            <a href="{{ url_for('new_block', block_type='custom') }}" class="card card-link rounded-top-0 h-100 text-decoration-none">
              <div class="card-status-top bg-yellow"></div>
              <div class="card-body text-center py-4">
                <span class="avatar avatar-xl bg-yellow-lt mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 19a2 2 0 0 1 -2 -2v-4l-1 -1l1 -1v-4a2 2 0 0 1 2 -2" />
                    <path d="M12 11.875l3 -1.687" />
                    <path d="M12 11.875v3.375" />
                    <path d="M12 11.875l-3 -1.687" />
                    <path d="M12 11.875l3 1.688" />
                    <path d="M12 8.5v3.375" />
                    <path d="M12 11.875l-3 1.688" />
                    <path d="M18 19a2 2 0 0 0 2 -2v-4l1 -1l-1 -1v-4a2 2 0 0 0 -2 -2" />
                  </svg>
                </span>
                <div class="h4 mb-1">Custom Block</div>
                <div class="text-secondary">Write raw Caddyfile directives yourself</div>
              </div>
            </a>
          </div>
          <!-- END CUSTOM BLOCK CARD -->
        </div>
      </div>
      <!-- END MODAL BODY -->
    </div>
  </div>
</div>
<!-- END NEW BLOCK TYPE MODAL -->
