<!-- BEGIN NEW BLOCK TYPE MODAL -->
<div class="modal modal-blur fade" id="modal-blocks" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered p-3">
    <div class="modal-content">
      <!-- BEGIN MODAL HEADER -->
      <div class="modal-header">
        <h5 class="modal-title">New Site Block</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- END MODAL HEADER -->
      <!-- BEGIN MODAL BODY -->
      <div class="modal-body">
        <div class="row row-cards justify-content-center">
          <!-- BEGIN BLOCK TYPE CARDS -->
          {% for t in block_type_order %}
          <div class="col-12 col-sm-4">
            <a href="{{ url_for('main.new_block', block_type=t) }}" class="card card-gradient card-gradient-{{ type_color(t) }} card-link card-link-pop">
              <div class="card-body text-center py-4">
                <span class="avatar avatar-square avatar-xl bg-{{ type_color(t) }} text-white mb-3">
                  {{ type_icon(t) }}
                </span>
                <div class="h4 mb-1">{{ type_label(t) }}</div>
                <div class="text-secondary">{{ type_description(t) }}</div>
              </div>
            </a>
          </div>
          {% endfor %}
          <!-- END BLOCK TYPE CARDS -->
        </div>
      </div>
      <!-- END MODAL BODY -->
    </div>
  </div>
</div>
<!-- END NEW BLOCK TYPE MODAL -->
